<!-- ===== CTA Start ===== -->
<section class="i pg gh ji">
    <!-- Bg Shape -->
    <img class="h p q" src="~/WebPageTemp/build/images/shape-16.svg" alt="Bg Shape" />

    <div class="bb ye i z-10 ki xn dr">
        <div class="tc uf sn tn un gg">
            <div class="animate_left to/2">
                <h2 class="fk vj zp pr lk ac">
                    Bizimle Çalışmak İster misiniz?
                </h2>
                <p class="lk">
                    
                    Bilişim dünyasında başarıya ulaşmanın yolu, doğru iş ortaklarıyla güçlerinizi birleştirmekten geçer. 
                    Biz, en güncel teknolojiler ve yenilikçi çözümlerle iş süreçlerinizi hızlandırmak, dijital dönüşümünüzü kolaylaştırmak ve rekabet gücünüzü artırmak için buradayız. Ekibimiz, derin mühendislik deneyimi ve sektör uzmanlığıyla size en uygun çözümleri sunmaya hazır. Birlikte çalışarak, iş hedeflerinizi aşmak ve geleceğe emin adımlarla ilerlemek için yanınızdayız. Gücümüzü birleştirmeye ve başarı hikayenizin bir parçası olmaya hazır mısınız?


                </p>
            </div>
            <div class="animate_right bf">
                <a href="#" class="vc ek kk hh rg ol il cm gi hi">
                    Hadi Başlayalım
                </a>
            </div>
        </div>
    </div>
</section>

<!-- ===== CTA End ===== -->
