
@{
      ViewData["Title"] = "Index";
      Layout = "~/Views/Shared/_CoreLayout.cshtml";
   // Layout = null;
   // Layout = "~/Views/Shared/_Layout.cshtml"; 
   // Core Imdex
   // TODO: style dosyasındaki width="300" göre değer bul
}


<!-- ===== Hero Start ===== -->
<section class="gj do ir hj sp jr i pg">
    <!-- Hero Images --> 
    <div class="xc fn zd/2 2xl:ud-w-187.5 bd 2xl:ud-h-171.5 h q r">
        <img src="/WebPageTemp/build/images/shape-01.svg" alt="shape" class="xc 2xl:ud-block h t -ud-left-[10%] ua" />
        <img src="/WebPageTemp/build/images/shape-02.svg" alt="shape" class="xc 2xl:ud-block h u p va" />
        <img src="/WebPageTemp/build/images/shape-03.svg" alt="shape" class="xc 2xl:ud-block h v w va" />

        <!--  <img src="/WebPageTemp/build/images/shape-04.svg" alt="shape" class="h q r " /> -->
          </div>
    <div class="xc fn zd/2 2xl:ud-w-187.5 bd 2xl:ud-h-171.5 h q caa ">
        <img src="/WebPageTemp/build/images/kurumsalsirketsunumu.gif" class="h ba ua gh ki hi rhg ml il vc _d _l _o" />
       </div>
    <!-- Hero Content -->
    <div class="bb ze ki xn 2xl:ud-px-0">
        <div class="tc _o">
            <div class="animate_left jn/2">
                <h1 class="fk vj zp or kk wm wb">We specialize in Security Systems, C.</h1>
                <p class="fq">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque fringilla magna mauris. Nulla fermentum viverra sem eu rhoncus consequat varius nisi quis, posuere magna.
                </p>
                <div class="tc tf yo zf mb">
                    <a href="#" class="ek jk lk gh gi hi rg ml il vc _d _l">Get Started Now</a>

                    <span class="tc sf">
                        <a href="#" class="inline-block ek xj kk wm"> Call us (0123) 456 – 789 </a>
                        <span class="inline-block">For any question or concern</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ===== Hero End ===== -->

