
@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_CoreLayout.cshtml";
}


<!-- ===== Blog Grid Start ===== -->
<section class="ji gp uq">
    <div class="bb ye ki xn vq jb jo">
        <div class="wc qf pn xo zf iq">
            <!-- Blog Item -->
            @await Component.InvokeAsync("_ProductsDatasBlogItemViewComponentPartial")

            <!-- Blog Item -->
            <div class="animate_top sg vk rm xm">
                <div class="c rc i z-1 pg">
                    <img class="w-full" src="~/WebPageTemp/build/images/blog-02.png" alt="Blog" />

                    <div class="im h r s df vd yc wg tc wf xf al hh/20 nl il z-10">
                        <a href="./blog-single.html" class="vc ek rg lk gh sl ml il gi hi">Read More</a>
                    </div>
                </div>

                <div class="yh">
                    <div class="tc uf wf ag jq">
                        <div class="tc wf ag">
                            <img src="~/WebPageTemp/build/images/icon-man.svg" alt="User" />
                            <p>Musharof Chy</p>
                        </div>
                        <div class="tc wf ag">
                            <img src="~/WebPageTemp/build/images/icon-calender.svg" alt="Calender" />
                            <p>25 Dec, 2025</p>
                        </div>
                    </div>
                    <h4 class="ek tj ml il kk wm xl eq lb">
                        <a href="blog-single.html">9 simple ways to improve your design skills</a>
                    </h4>
                </div>
            </div>

            <!-- Blog Item -->
            <div class="animate_top sg vk rm xm">
                <div class="c rc i z-1 pg">
                    <img class="w-full" src="~/WebPageTemp/build/images/blog-03.png" alt="Blog" />

                    <div class="im h r s df vd yc wg tc wf xf al hh/20 nl il z-10">
                        <a href="index" class="vc ek rg lk gh sl ml il gi hi">Read More</a>
                    </div>
                </div>

                <div class="yh">
                    <div class="tc uf wf ag jq">
                        <div class="tc wf ag">
                            <img src="~/WebPageTemp/build/images/icon-man.svg" alt="User" />
                            <p>Musharof Chy</p>
                        </div>
                        <div class="tc wf ag">
                            <img src="~/WebPageTemp/build/images/icon-calender.svg" alt="Calender" />
                            <p>25 Dec, 2025</p>
                        </div>
                    </div>
                    <h4 class="ek tj ml il kk wm xl eq lb">
                        <a href="blog-single.html">Tips to quickly improve your coding speed.</a>
                    </h4>
                </div>
            </div>

            <!-- Blog Item -->
            <div class="animate_top sg vk rm xm">
                <div class="c rc i z-1 pg">
                    <img class="w-full" src="~/WebPageTemp/build/images/blog-01.png" alt="Blog" />

                    <div class="im h r s df vd yc wg tc wf xf al hh/20 nl il z-10">
                        <a href="index" class="vc ek rg lk gh sl ml il gi hi">Read More</a>
                    </div>
                </div>

                <div class="yh">
                    <div class="tc uf wf ag jq">
                        <div class="tc wf ag">
                            <img src="~/WebPageTemp/build/images/icon-man.svg" alt="User" />
                            <p>Musharof Chy</p>
                        </div>
                        <div class="tc wf ag">
                            <img src="~/WebPageTemp/build/images/icon-calender.svg" alt="Calender" />
                            <p>25 Dec, 2025</p>
                        </div>
                    </div>
                    <h4 class="ek tj ml il kk wm xl eq lb">
                        <a href="blog-single.html">Free advertising for your online business</a>
                    </h4>
                </div>
            </div>

            <!-- Blog Item -->
            <div class="animate_top sg vk rm xm">
                <div class="c rc i z-1 pg">
                    <img class="w-full" src="~/WebPageTemp/build/images/blog-02.png" alt="Blog" />

                    <div class="im h r s df vd yc wg tc wf xf al hh/20 nl il z-10">
                        <a href="./blog-single.html" class="vc ek rg lk gh sl ml il gi hi">Read More</a>
                    </div>
                </div>

                <div class="yh">
                    <div class="tc uf wf ag jq">
                        <div class="tc wf ag">
                            <img src="~/WebPageTemp/build/images/icon-man.svg" alt="User" />
                            <p>Musharof Chy</p>
                        </div>
                        <div class="tc wf ag">
                            <img src="~/WebPageTemp/build/images/icon-calender.svg" alt="Calender" />
                            <p>25 Dec, 2025</p>
                        </div>
                    </div>
                    <h4 class="ek tj ml il kk wm xl eq lb">
                        <a href="blog-single.html">9 simple ways to improve your design skills</a>
                    </h4>
                </div>
            </div>

            <!-- Blog Item -->
            <div class="animate_top sg vk rm xm">
                <div class="c rc i z-1 pg">
                    <img class="w-full" src="~/WebPageTemp/build/images/blog-03.png" alt="Blog" />

                    <div class="im h r s df vd yc wg tc wf xf al hh/20 nl il z-10">
                        <a href="index" class="vc ek rg lk gh sl ml il gi hi">Read More</a>
                    </div>
                </div>

                <div class="yh">
                    <div class="tc uf wf ag jq">
                        <div class="tc wf ag">
                            <img src="~ ~/WebPageTemp/build/images/icon-man.svg" alt="User" />
                            <p>Musharof Chy</p>
                        </div>
                        <div class="tc wf ag">
                            <img src="~/WebPageTemp/build/images/icon-calender.svg" alt="Calender" />
                            <p>25 Dec, 2025</p>
                        </div>
                    </div>
                    <h4 class="ek tj ml il kk wm xl eq lb">
                        <a href="blog-single.html">Tips to quickly improve your coding speed.</a>
                    </h4>
                </div>
            </div>
        </div>

        <!-- Pagination -->
        <div class="mb lo bq i ua">
            <nav>
                <ul class="tc wf xf bg">
                    <li>
                        <a class="c tc wf xf wd in zc hn rg uj fo wk xm ml il hh rm tl zm yl an"
                           href="#">
                            <svg class="th lm ml il" width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.93884 6.99999L7.88884 11.95L6.47484 13.364L0.11084 6.99999L6.47484 0.635986L7.88884 2.04999L2.93884 6.99999Z" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="c tc wf xf wd in zc hn rg uj fo wk xm ml il hh rm tl zm yl an"
                           href="#">
                            2
                        </a>
                    </li>
                    <li>
                        <a class="c tc wf xf wd in zc hn rg uj fo wk xm ml il hh rm tl zm yl an"
                           href="#">
                            3
                        </a>
                    </li>
                    <li>
                        <a class="c tc wf xf wd in zc hn rg uj fo wk xm ml il hh rm tl zm yl an"
                           href="#">
                            4
                        </a>
                    </li>
                    <li>
                        <a class="c tc wf xf wd in zc hn rg uj fo wk xm ml il hh rm tl zm yl an"
                           href="#">
                            ...
                        </a>
                    </li>
                    <li>
                        <a class="c tc wf xf wd in zc hn rg uj fo wk xm ml il hh rm tl zm yl an"
                           href="#">
                            12
                        </a>
                    </li>
                    <li>
                        <a class="c tc wf xf wd in zc hn rg uj fo wk xm ml il hh rm tl zm yl an"
                           href="#">
                            <svg class="th lm ml il" width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.06067 7.00001L0.110671 2.05001L1.52467 0.636014L7.88867 7.00001L1.52467 13.364L0.110672 11.95L5.06067 7.00001Z" fill="#fefdfo" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- Pagination -->
    </div>
</section>
<!-- ===== Blog Grid End ===== -->
<!-- ===== CTA Start ===== -->
@await Component.InvokeAsync("CTAStartBannerViewComponentPartial")

<!-- ===== CTA End ===== -->
