
<section class="ji gp uq 2xl:ud-py-35 pg">

<div id="carousel-6 " data-carousel='{ "loadingClasses": "opacity-0" }' class="relative w-fit">
    <div class="carousel">
        <div class="carousel-body opacity-0">
            <!-- Slide 1 -->
            <div class="carousel-slide">
                <div class="flex h-full justify-center">
                    <img src="~/WebPageTemp/build/images/sispar01.png" class="size-full object-cover" alt="sispar01" />
                </div>
            </div>
            <!-- Slide 2 -->
            <div class="carousel-slide">
                <div class="flex h-full justify-center">
                    <img src="~/WebPageTemp/build/images/sispar02.png" class="size-full object-cover" alt="sispar02" />
                </div>
            </div>
            <!-- Slide 3 -->
            <div class="carousel-slide">
                <div class="flex h-full justify-center">
                    <img src="~/WebPageTemp/build/images/sispar03.png" class="size-full object-cover" alt="sispar03" />
                </div>
            </div>
            <!-- Slide 4 -->
            <div class="carousel-slide">
                <div class="flex h-full justify-center">
                    <img src="~/WebPageTemp/build/images/sispar04.png" class="size-full object-cover" alt="sispar04" />
                </div>
            </div>
            <!-- Slide 5 -->
            <div class="carousel-slide">
                <div class="flex h-full justify-center">
                    <img src="~/WebPageTemp/build/images/sispar05.png" class="size-full object-cover" alt="sispar05" />
                </div>
            </div>
                <!-- Slide 6 -->
                <div class="carousel-slide">
                    <div class="flex h-full justify-center">
                        <img src="~/WebPageTemp/build/images/sispar06.png" class="size-full object-cover" alt="sispar05" />
                    </div>
                </div>
        </div>
    </div>
    <!-- Previous Slide -->
    <button type="button" class="carousel-prev">
        <span class="size-9.5 bg-base-100 flex items-center justify-center rounded-full shadow">
                <span class="icon-[tabler--chevron-left] size-5 cursor-pointer rtl:rotate-180"><img src="~/WebPageTemp/build/images/arrow_icon.svg" alt="sol ok"></span>
        </span>
        <span class="sr-only">Previous</span>
    </button>
    <!-- Next Slide -->
    <button type="button" class="carousel-next">
        <span class="sr-only">Next</span>
        <span class="size-9.5 bg-base-100 flex items-center justify-center rounded-full shadow">
                <span class="icon-[tabler--chevron-right] size-5 cursor-pointer rtl:rotate-180"><img src="~/WebPageTemp/build/images/arrow_icon.svg" alt="sağ ok" style="rotate: 180deg;"></span>
        </span>
        <span class="icon"></span>
    </button>
</div>
<script src="~/WebPageTemp/build/node_modules/flyonui/flyonui.js"></script>
<script src="~/WebPageTemp/build/node_modules/flyonui/dist/js/accordion.js"></script> 
</section>
