@model CreateCategoryDto
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Admin/Index.cshtml";
}


<div class="col-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">New Category Create</h6>
        <form method="post">
            <label>Category Name</label>
            <input type="text" asp-for="Name" class="form-control border-0" />
            <br />
            <button class="btn btn-primary">Save Category</button>
        </form>
    </div>
</div>

