
<section class="ji gp uq 2xl:ud-py-35 pg">
    <div class="bb ze ki xn wq">
        <div class="tc wf gg qq">
            <!-- About Images -->
            <div class="animate_left xc gn gg jn/2 i">
                <div>
                    <img src="~/WebPageTemp/build/images/shape-05.svg" alt="Shape" class="h -ud-left-5 x" />
                    <img src=@ViewBag.pictureLink01 alt="About" class="ib" />
                    <img src=@ViewBag.pictureLink02 alt="About" />
                </div>
                <div>
                    <img src="~/WebPageTemp/build/images/shape-06.svg" alt="Shape" />
                    <img src=@ViewBag.pictureLink03 alt ="About" class="ob gb" />
                    <img src="~/WebPageTemp/build/images/shape-07.svg" alt="Shape" class="bb" />
                </div>
            </div>

            <!-- About Content -->
            <div class="animate_right jn/2">
              
                <h4 class="ek yj mk gb">@_localization.GetKey(ViewBag.title).Value</h4>
                <h2 class="fk vj zp pr kk wm qb">@_localization.GetKey(ViewBag.subtitle).Value</h2>
                <p class="uo">@_localization.GetKey(ViewBag.description).Value</p>

                <a href="~/WebPageTemp/build/images/SisPar.mp4" data-fslightbox class="vc wf hg mb">
                    <span class="tc wf xf be dd rg i gh ua">
                        <span class="nf h vc yc vd rg gh qk -ud-z-1"></span>
                        <img src="~/WebPageTemp/build/images/icon-play.svg" alt="Play" />
                    </span>
                    <span class="kk">@_localization.GetKey("SEE HOW WE WORK").Value</span>
                </a>
            </div>
        </div>
    </div>
</section>