@model List<WebSisPar.Dtos.ProductDtos.ResultProductDtos>



<!-- Blog Item -->

@foreach(var item in Model){
<div class="animate_top sg vk rm xm">
    <div class="c rc i z-1 pg">
        <img class="w-full" src="~/WebPageTemp/build/images/blog-01.png" alt="Blog" />

        <div class="im h r s df vd yc wg tc wf xf al hh/20 nl il z-10">
                <a href="./blog-single.html" class="vc ek rg lk gh sl ml il gi hi">Detaylar</a>
        </div>
    </div>

    <div class="yh">
        <div class="tc uf wf ag jq">
            <div class="tc wf ag">
                <img src="~/WebPageTemp/build/images/icon-man.svg" alt="User" />
                <p>@item.name</p>
            </div>
            <div class="tc wf ag">
                <img src="~/WebPageTemp/build/images/icon-calender.svg" alt="Calender" />
                    <p>@item.price</p>
            </div>
        </div>
        <h4 class="ek tj ml il kk wm xl eq lb">
            <a href="blog-single.html">Free advertising for your online business</a>
        </h4>
    </div>
</div>
}