
<section class="i pg gh ji">
    <!-- Bg Shape -->
    <img class="h p q" src="~/WebPageTemp/build/images/shape-16.svg" alt="Bg Shape" />

    <div class="bb ye i z-10 ki xn dr">
        <div class="tc uf sn tn un gg">
            <div class="animate_left to/2">
                <video controls="controls">
                    <source src="~/WebPageTemp/build/images/SisPar.mp4" type="video/mp4" />
                </video>
            </div>
            <div class="animate_right bf">
                <a href="#" class="vc ek kk hh rg ol il cm gi hi">
                    Kullanıcı Dostu
                </a>
            </div>
        </div>
    </div>
</section>

<!-- ===== CTA End ===== -->
