@{
    Layout = null;

}

<!DOCTYPE html>
<html lang="en">
<!-- ===== Head Start ===== -->
@await Component.InvokeAsync("_HeadViewComponentPartial")
<!-- ===== Head End ===== -->

<body x-data="{ page: '404', 'darkMode': true, 'stickyMenu': false, 'navigationOpen': false, 'scrollTop': false }"
      x-init="
      darkMode=JSON.parse(localStorage.getItem('darkMode'));
      $watch('darkMode', value=>
    localStorage.setItem('darkMode', JSON.stringify(value)))"
    :class="{'b eh': darkMode === true}"
    >
    <!-- ===== Header Start ===== -->
     
    <!--ToDo: Çalışırken browsorde kod gözükmez-->
    @await Component.InvokeAsync("_HeaderViewComponentPartial")
    <!--ToDo: Çalışırken browsorde kod gözükür-->
    @*await Html.PartialAsync("_PartialHeader")*@
    @*await Component.InvokeAsync("_ChangeLanguageViewComponentPartial")*@
    <!-- ===== Header End ===== -->

    <main>
        
        <!-- ===== 404 Start ===== -->
        @RenderBody()
        <!-- ===== 404 End ===== -->
    </main>
    <!-- ===== Footer Start ===== -->
    @await Component.InvokeAsync("_FooterViewComponentPartial")
    @*await Html.PartialAsync("_PartialFooter")*@

    <!-- ===== Footer End ===== -->
    <!-- ====== Back To Top Start ===== -->
    @await Component.InvokeAsync("_BackToTopStartViewComponentPartial")
    @*await Html.PartialAsync("_PartialBackToTopStart")*@

    <!-- ====== Back To Top End ===== -->
    <script defer src="~/WebPageTemp/build/bundle.js"></script>
</body>
</html>

