<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SisPar Teknoloji | Güvenlik Sistemleri</title>
    <link rel="icon" href="~/WebPageTemp/build/images/SisParIcon.ico">
    <link href="~/WebPageTemp/build/myStyle.css" rel="stylesheet">
    <link href="~/WebPageTemp/build/Tailwind.css" rel="stylesheet">
    <!--<link href="~/webpagetemp/build/bootstrap.min.css" rel="stylesheet" />  -->
    <link href="~/WebPageTemp/build/output.css" rel="stylesheet">


</head>