
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<!-- Head Start-->
@await Component.InvokeAsync("_AdminLayoutHeadViewComponentPartial")
<!-- Head End-->

<body>
    <div class="container-xxxl position-relative bg-white d-flex p-0">
      
        <!-- Spinner Start -->
        @await Component.InvokeAsync("_AdminLayoutSpinnerLoadingViewComponentPartial")
        <!-- Spinner End -->
        <!-- Sidebar Start -->
        @await Component.InvokeAsync("_AdminLayoutSidebarViewComponentPartial")
        <!-- Sidebar End -->
        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            @await Component.InvokeAsync("_AdminLayoutNavbarViewComponentPartial")
            <!-- Navbar End -->
            <!-- RenderBody() Page Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">

                    @RenderBody()

                </div>
            </div>
            <!-- RenderBody() Page End -->
            <!-- Footer Start -->
            @await Component.InvokeAsync("_AdminLayoutFooterViewComponentPartial")
            <!-- Footer End -->
        </div>
        <!-- Content End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    @await Component.InvokeAsync("_AdminLayoutJavaScriptViewComponentPartial")
</body>

</html>
